@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100,200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}
body
{
    /*overflow: hidden;*/
    background: #fff;
    min-height: 100vh;
}
header
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.logo
{
    color:#112434;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
.navigation
{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 40px;
}
.navigation li
{
    list-style: none;
}
.navigation li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #112434;
    border-radius: 20px;
}
.navigation li a:hover ,
.navigation li a.active
{
    background: #112434;
    color: #fff;
}
.parallax
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parallax img
{
    position: absolute;
    bottom: 100;
    left: 0;
    width: 100%;
    pointer-events: none;

}
#text
{
    position:absolute;
    top: 45%;
    transform: translateY(-45%);
    font-size: 5em;
    color: #112434;
}
#offre
{
    position:absolute;
    top: 45%;
    transform: translateY(300%);
    font-size: 1em;
    color: rgb(72, 77, 153);
}
#bt
{
    position:absolute;
    background-color: transparent;
    color: aqua;
    border-color: rgb(73, 8, 148);
    padding: 14px 80px 14px 65px;
    transform: translateY(200%);
    font-size: 1.5em;

}
.sec
{
    position: relative;
    padding: 100px;
    background: #112434;
}
.sec font
{
    font-size: 3em;
    color: #000;
    margin-bottom: 10px;
}
.card
{
position: relative;
width: 300px;
height: 380px;
background: #fff;
box-shadow: 0 15px 45px rgba(0, 0, 0, 1);
display: flex;
overflow: hidden;
transition: 0.5s ease-in-out;

}
.card:hover
{
    width: 600px;
}
.card .imgBx
{
    position: relative;
    min-width: 300px;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.card .imgBx img
{
    max-width: 250px;
    transition: 0.5s ease-in-out;
}
.card:hover .imgBx img
{
    transform: rotate(-20deg) translateX(-20px);
}
.card .details
{
    position: relative;
    width: 300px;
    height: 100%;
    background: #112434;
    display: flex;
    justify-content: center;
   /* align-items: center;*/
   padding: 20px;
   flex-direction: column;
}
.card .details::before
{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
}
.card .details h3
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1em;
}
.card .details h3 span
{
    font-size: 0.65em;
    font-weight: 300;
    text-transform: none;
    opacity: 0.85;
}
.card .details h4
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 1em;
}
.card .details p
{
    color: #fff;
    opacity: 0.85;
    font-size: 0.8em;
}
.card .details .size
{
    display:flex;
    gap: 10px;
}
.card .details .size li
{
    list-style: none;
    color: #fff;
    font-size: 0.9em;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    opacity: 0.5; 
    cursor: pointer;
    transition: 0.5s;
}
.card .details .size li:hover
{
    color: #112434;
    background: #fff;
    opacity: 1;
}
.card .details .group
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.card .details .group h2
{

color: #fff;
font-weight: 600;
font-size: 2em;
}
.card .details .group h2 sup
{
    font-weight: 200;
}
.card .details .group h2 small
{
    font-size: 0.75em;
}
.card .details .group a
{
    display: inline-flex;
    padding: 10px 25px;
    background: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #112434;
}
.p1
{
    padding: 40px 80px;
}
#feature
{
 display: flex;
 align-items: center;
 justify-content: space-between;   
 flex-wrap: wrap;
}
#feature .fe-box
{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box img
{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h6
{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #112434;
    background-color: #fddde4;

}
#feature .fe-box :nth-child(2) h6
{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6
{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6
{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6
{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6
{
    background-color: #fff2a5;
}
#product1
{
   
    text-align: center;
}
#product1 .pro-container
{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .pro

{
  
    width: 23%;
    min-width: 250px;
    padding: 25px 15px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 30px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover
{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .pro img 
{
    width: 100%;
    border-radius: 20px;
}
#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
#product1 .pro .des span
{
    color: #606063;
    font-size: 12px;
}
#product1 .pro .des h5
{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des h4
{
    padding-top: 7px;

    font-size: 14px;
    font-weight: 700;
    color: #088178;
    font-weight: 500;
    color: #088178;
    bottom: 20px;
    right: 10px;

}
#slid {
    background: rgb(53, 52, 52);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
#slid .swiper-container {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 50px;
}

#slid .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
}

#slid .info h5{
    margin: 0;
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.685);
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

#slid .info span{
    font-size: 15px;
    color: red;
    font-weight: bold;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image:url(images/banner/b14.png) ;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;

}
